## Import

In [1]:
import random
import pandas as pd
import numpy as np
import os

from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

import warnings
warnings.filterwarnings(action='ignore')

## Fixed Random-Seed

In [2]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42) # Seed 고정

## Load Data

In [3]:
train_df = pd.read_csv('./train.csv')
building_info = pd.read_csv('./building_info.csv')
test_df = pd.read_csv('./test.csv')

In [4]:
train_df.head()

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1_20220601 00,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28
1,1_20220601 01,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36
2,1_20220601 02,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88
3,1_20220601 03,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76
4,1_20220601 04,1,20220601 04,18.4,NaN,2.8,43.0,NaN,NaN,986.40

## Train Data Pre-Processing

* train_df에 building_info 데이터 병합

### column명 변경

In [5]:
train_df = train_df.rename(columns={
    '건물번호': 'building_number',
    '일시': 'date_time',
    '기온(C)': 'temperature',
    '강수량(mm)': 'rainfall',
    '풍속(m/s)': 'windspeed',
    '습도(%)': 'humidity',
    '일조(hr)': 'sunshine',
    '일사(MJ/m2)': 'solar_radiation',
    '전력소비량(kWh)': 'power_consumption'
})

In [6]:
test_df = test_df.rename(columns={
    '건물번호': 'building_number',
    '일시': 'date_time',
    '기온(C)': 'temperature',
    '강수량(mm)': 'rainfall',
    '풍속(m/s)': 'windspeed',
    '습도(%)': 'humidity',
    '일조(hr)': 'sunshine',
    '일사(MJ/m2)': 'solar_radiation',
    '전력소비량(kWh)': 'power_consumption'
})

In [7]:
building_info = building_info.rename(columns={
    '건물번호': 'building_number',
    '건물유형': 'building_type',
    '연면적(m2)': 'total_area',
    '냉방면적(m2)': 'cooling_area',
    '태양광용량(kW)': 'solar_power_capacity',
    'ESS저장용량(kWh)': 'ess_capacity',
    'PCS용량(kW)': 'pcs_capacity'
})

In [8]:
translation_dict = {
    '건물기타': 'Other Buildings',
    '공공': 'Public',
    '대학교': 'University',
    '데이터센터': 'Data Center',
    '백화점및아울렛': 'Department Store and Outlet',
    '병원': 'Hospital',
    '상용': 'Commercial',
    '아파트': 'Apartment',
    '연구소': 'Research Institute',
    '지식산업센터': 'Knowledge Industry Center',
    '할인마트': 'Discount Mart',
    '호텔및리조트': 'Hotel and Resort'
}

building_info['building_type'] = building_info['building_type'].replace(translation_dict)

### CSV 파일병합

In [9]:
train_df = pd.merge(train_df, building_info, on='building_number', how='left')
test_df = pd.merge(test_df, building_info, on='building_number', how='left')

### datetime을 (년,월,일,시)로 쪼갬

In [10]:
#train_df['date_time'] = pd.to_datetime(train_df['date_time'], format='%Y%m%d %H')
#test_df['date_time'] = pd.to_datetime(test_df['date_time'], format='%Y%m%d %H')

# date time feature 생성
#train_df['hour'] = train_df['date_time'].dt.hour
#train_df['day'] = train_df['date_time'].dt.day
#train_df['month'] = train_df['date_time'].dt.month
#train_df['year'] = train_df['date_time'].dt.year

#test_df['hour'] = test_df['date_time'].dt.hour
#test_df['day'] = test_df['date_time'].dt.day
#test_df['month'] = test_df['date_time'].dt.month
#test_df['year'] = test_df['date_time'].dt.year

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204000 entries, 0 to 203999
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   num_date_time         204000 non-null  object
 1   building_number       204000 non-null  int64
 2   date_time             204000 non-null  object
 3   temperature           204000 non-null  float64
 4   rainfall              43931 non-null   float64
 5   windspeed             203981 non-null  float64
 6   humidity              203991 non-null  float64
 7   sunshine              128818 non-null  float64
 8   solar_radiation       116087 non-null  float64
 9   power_consumption     204000 non-null  float64
 10  building_type         204000 non-null  object
 11  total_area            204000 non-null  float64
 12  cooling_area          204000 non-null  float64
 13  solar_power_capacity  204000 non-null  object
 14  ess_capacity          204000 non-null  object
 15  pcs_capacity          204000 non-null  object
dtypes: float64(9), int64(1), object(6)
memory usage: 24.9+ MB

In [12]:
# '일시' 컬럼을 기반으로 '월', '일', '시간' 칼럼 생성
train_df['month'] = train_df['date_time'].str.slice(4, 6).astype(int)
train_df['day'] = train_df['date_time'].str.slice(6, 8).astype(int)
train_df['hour'] = train_df['date_time'].str.slice(9, 11).astype(int)

In [13]:
train_df.head()

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,sunshine,solar_radiation,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
0,1_20220601 00,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28,Other Buildings,110634.0,39570.0,-,-,-,6,1,0
1,1_20220601 01,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36,Other Buildings,110634.0,39570.0,-,-,-,6,1,1
2,1_20220601 02,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88,Other Buildings,110634.0,39570.0,-,-,-,6,1,2
3,1_20220601 03,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76,Other Buildings,110634.0,39570.0,-,-,-,6,1,3
4,1_20220601 04,1,20220601 04,18.4,NaN,2.8,43.0,NaN,NaN,986.40,Other Buildings,110634.0,39570.0,-,-,-,6,1,4

### Drop column

In [14]:
#train_x = train_df.drop(columns=['num_date_time', '일시', '일조(hr)', '일사(MJ/m2)', '전력소비량(kWh)'])
#train_y = train_df['전력소비량(kWh)']
#train_x = train_df.drop(columns=['num_date_time', 'date_time', 
#                                 'sunshine', 'solar_radiation', 
#                                 'power_consumption', 'building_type'])
train_df = train_df.drop(columns=['sunshine', 'solar_radiation'])
#train_y = train_df['power_consumption']

#test_df.drop('num_date_time', axis = 1, inplace=True)
#test_df.drop('date_time', axis = 1, inplace=True)
#test_df.drop('building_type', axis = 1, inplace=True)

### 결측치 확인

In [15]:
# 전체 data 갯수
len(train_df)

204000

In [16]:
# train_df 열별 결측치
train_df.isna().sum()

num_date_time                0
building_number              0
date_time                    0
temperature                  0
rainfall                160069
windspeed                   19
humidity                     9
power_consumption            0
building_type                0
total_area                   0
cooling_area                 0
solar_power_capacity         0
ess_capacity                 0
pcs_capacity                 0
month                        0
day                          0
hour                         0
dtype: int64

In [17]:
# test_df 열별 결측치
test_df.isna().sum()

num_date_time           0
building_number         0
date_time               0
temperature             0
rainfall                0
windspeed               0
humidity                0
building_type           0
total_area              0
cooling_area            0
solar_power_capacity    0
ess_capacity            0
pcs_capacity            0
dtype: int64

In [18]:
# solar_power_capacity, ess_capacity, pcs_capacity은 결측치가 -로 되어있음
print('태양광용량(kW)\t', len(train_df[train_df['solar_power_capacity'] == '-']))
print('ESS저장용량(kWh)\t', len(train_df[train_df['ess_capacity'] == '-']))
print('PCS용량(kW)\t', len(train_df[train_df['pcs_capacity'] == '-']))

태양광용량(kW)	 130560
ESS저장용량(kWh)	 193800
PCS용량(kW)	 193800

### 강수량 결측치 = 0

In [19]:
#강수량결측값을 0으로 채웁니다
train_df['rainfall'] = train_df['rainfall'].fillna(0)

### 태양광 용량, ESS용량, PCS용량 결측치 = 0

In [20]:
train_df = train_df.replace({'solar_power_capacity':'-'}, 0)
train_df = train_df.replace({'ess_capacity':'-'}, 0)
train_df = train_df.replace({'pcs_capacity':'-'}, 0)
train_df.iloc[:,13:16]

       pcs_capacity  month  day
0                 0      6    1
1                 0      6    1
2                 0      6    1
3                 0      6    1
4                 0      6    1
...             ...    ...  ...
203995            0      8   24
203996            0      8   24
203997            0      8   24
203998            0      8   24
203999            0      8   24

[204000 rows x 3 columns]

In [21]:
test_df = test_df.replace({'solar_power_capacity':'-'}, 0)
test_df = test_df.replace({'ess_capacity':'-'}, 0)
test_df = test_df.replace({'pcs_capacity':'-'}, 0)
test_df.iloc[:,10:13]

      solar_power_capacity ess_capacity pcs_capacity
0                        0            0            0
1                        0            0            0
2                        0            0            0
3                        0            0            0
4                        0            0            0
...                    ...          ...          ...
16795                    0            0            0
16796                    0            0            0
16797                    0            0            0
16798                    0            0            0
16799                    0            0            0

[16800 rows x 3 columns]

In [22]:
train_df

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
0,1_20220601 00,1,20220601 00,18.6,0.0,0.9,42.0,1085.28,Other Buildings,110634.00,39570.00,0,0,0,6,1,0
1,1_20220601 01,1,20220601 01,18.0,0.0,1.1,45.0,1047.36,Other Buildings,110634.00,39570.00,0,0,0,6,1,1
2,1_20220601 02,1,20220601 02,17.7,0.0,1.5,45.0,974.88,Other Buildings,110634.00,39570.00,0,0,0,6,1,2
3,1_20220601 03,1,20220601 03,16.7,0.0,1.4,48.0,953.76,Other Buildings,110634.00,39570.00,0,0,0,6,1,3
4,1_20220601 04,1,20220601 04,18.4,0.0,2.8,43.0,986.40,Other Buildings,110634.00,39570.00,0,0,0,6,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100_20220824 19,100,20220824 19,23.1,0.0,0.9,86.0,881.04,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,19
203996,100_20220824 20,100,20220824 20,22.4,0.0,1.3,86.0,798.96,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,20
203997,100_20220824 21,100,20220824 21,21.3,0.0,1.0,92.0,825.12,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,21
203998,100_20220824 22,100,20220824 22,21.0,0.0,0.3,94.0,640.08,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,22
203999,100_20220824 23,100,20220824 23,20.7,0.0,0.1,95.0,540.24,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,23

### 같은 날 같은 시간에 풍속과 습도가 같은 건물 번호는 같은 지역으로 묶음

NaN값을 처리하기 위해 같은 지역에 있는 건물이 있는지 찾아봄

In [23]:
# NaN 값을 포함하는 행만 다시 선택하여 표시
rows_with_nan = train_df[train_df.isnull().any(axis=1)]

rows_with_nan

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
16643,9_20220614 11,9,20220614 11,17.6,0.0,NaN,NaN,2330.40,Other Buildings,222882.35,15651.18,0,0,0,6,14,11
30161,15_20220806 17,15,20220806 17,35.6,0.0,NaN,NaN,1815.57,Other Buildings,167012.31,167012.31,0,0,0,8,6,17
32127,16_20220803 15,16,20220803 15,30.4,0.0,NaN,77.0,5062.08,Public,240038.00,95175.00,20,0,0,8,3,15
51640,26_20220627 16,26,20220627 16,27.2,3.1,NaN,93.0,5330.40,University,386466.90,162020.00,26.64,0,0,6,27,16
51921,26_20220709 09,26,20220709 09,26.3,0.0,NaN,84.0,2908.80,University,386466.90,162020.00,26.64,0,0,7,9,9
84418,42_20220703 10,42,20220703 10,29.8,0.0,NaN,66.0,3038.76,Department Store and Outlet,97915.10,72000.00,0,0,0,7,3,10
100738,50_20220703 10,50,20220703 10,29.8,0.0,NaN,66.0,3044.70,Hospital,91967.00,75836.00,3,0,0,7,3,10
105639,52_20220806 15,52,20220806 15,33.4,0.0,NaN,72.0,2260.20,Hospital,91634.21,69227.19,25,0,0,8,6,15
105640,52_20220806 16,52,20220806 16,33.5,0.0,NaN,73.0,2274.30,Hospital,91634.21,69227.19,25,0,0,8,6,16
176477,87_20220714 05,87,20220714 05,21.9,0.0,NaN,NaN,519.66,Discount Mart,65118.00,34007.00,0,0,0,7,14,5
176478,87_20220714 06,87,20220714 06,22.3,0.0,NaN,NaN,632.88,Discount Mart,65118.00,34007.00,0,0,0,7,14,6
176479,87_20220714 07,87,20220714 07,22.8,0.0,NaN,NaN,738.72,Discount Mart,65118.00,34007.00,0,0,0,7,14,7
176480,87_20220714 08,87,20220714 08,23.3,0.0,NaN,NaN,1547.28,Discount Mart,65118.00,34007.00,0,0,0,7,14,8
176481,87_20220714 09,87,20220714 09,23.8,0.0,NaN,NaN,2059.74,Discount Mart,65118.00,34007.00,0,0,0,7,14,9
183161,90_20220806 17,90,20220806 17,35.6,0.0,NaN,NaN,2504.16,Discount Mart,77917.00,35676.00,0,0,0,8,6,17
197439,97_20220806 15,97,20220806 15,33.4,0.0,NaN,72.0,2021.04,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,15
197440,97_20220806 16,97,20220806 16,33.5,0.0,NaN,73.0,1994.58,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,16
202143,100_20220608 15,100,20220608 15,24.9,0.0,NaN,NaN,880.32,Hotel and Resort,57497.84,40035.23,0,0,0,6,8,15
203211,100_20220723 03,100,20220723 03,20.3,0.0,NaN,99.0,338.16,Hotel and Resort,57497.84,40035.23,0,0,0,7,23,3

In [24]:
# NaN 값을 제외하고 '월', '일', '시간', '풍속(m/s)', '습도(%)'을 기준으로 그룹화
#grouped_without_nan = df.dropna().groupby(['월', '일', '시간', '풍속(m/s)', '습도(%)'])['건물번호'].apply(set)
grouped_without_nan = train_df.dropna().groupby(['month', 'day', 'hour', 
                                                 'windspeed', 
                                                 'humidity'])['building_number'].apply(set)

# 2개 이상의 건물이 포함된 그룹만 선택
matching_buildings_without_nan = grouped_without_nan[grouped_without_nan.apply(len) > 1]

# 그룹 출력
num_of_groups_without_nan = len(matching_buildings_without_nan)

In [25]:
matching_buildings_without_nan

month  day  hour  windspeed  humidity
6      1    0     0.0        41.0                                                 {42, 50}
                  0.1        52.0                             {65, 40, 72, 48, 49, 55, 91}
                             59.0                                                  {8, 11}
                  0.5        74.0                                             {43, 44, 22}
                  0.6        40.0                                                 {98, 28}
                                                               ...
8      24   23    1.4        70.0        {1, 2, 3, 4, 5, 17, 19, 24, 25, 32, 33, 34, 35...
                  1.8        93.0                             {65, 40, 72, 48, 49, 55, 91}
                  2.3        87.0                                     {96, 67, 10, 13, 54}
                  2.4        68.0                                     {64, 14, 82, 88, 89}
                  2.7        73.0                                                 {97, 52}
Name: building_number, Length: 26800, dtype: object

In [26]:
# series를 dataframe으로 변환
matching_buildings_df = matching_buildings_without_nan.reset_index()
#matching_buildings_df.columns = ['월', '일', '시간', '풍속(m/s)', '습도(%)', '건물 그룹']
matching_buildings_df.columns = ['month', 'day', 'hour', 
                                 'windspeed', 'humidity', 'building_type']

matching_buildings_df.head()

   month  day  hour  windspeed  humidity                 building_type
0      6    1     0        0.0      41.0                      {42, 50}
1      6    1     0        0.1      52.0  {65, 40, 72, 48, 49, 55, 91}
2      6    1     0        0.1      59.0                       {8, 11}
3      6    1     0        0.5      74.0                  {43, 44, 22}
4      6    1     0        0.6      40.0                      {98, 28}

In [27]:
# '건물 그룹' 칼럼의 set 객체를 문자열로 변환하여 value_counts() 실행
#building_group_counts_str = matching_buildings_df['건물 그룹'].astype(str).value_counts()
building_group_counts_str = matching_buildings_df['building_type']\
                                .astype(str)\
                                .value_counts()

In [28]:
building_group_counts_str

building_type
{96, 67, 10, 13, 54}                                          1984
{98, 28}                                                      1983
{97, 52}                                                      1977
{90, 51, 15}                                                  1975
{42, 50}                                                      1973
                                                              ...
{16, 99}                                                         1
{100, 76}                                                        1
{99, 36, 6, 7, 73, 12, 77, 78, 47, 79, 18, 83, 86, 58, 92}       1
{96, 67, 9, 10, 13, 16, 54}                                      1
{100, 8, 43, 11, 44, 22}                                         1
Name: count, Length: 369, dtype: int64

In [29]:
# value_counts() 값이 1000 이상인 것만 선택
frequent_building_groups = building_group_counts_str[building_group_counts_str >= 1000]

frequent_building_groups

building_type
{96, 67, 10, 13, 54}                                                                                                       1984
{98, 28}                                                                                                                   1983
{97, 52}                                                                                                                   1977
{90, 51, 15}                                                                                                               1975
{42, 50}                                                                                                                   1973
{66, 23}                                                                                                                   1971
{64, 14, 82, 88, 89}                                                                                                       1970
{1, 2, 3, 4, 5, 17, 19, 24, 25, 32, 33, 34, 35, 37, 38, 41, 45, 53, 57, 59, 60, 61, 62, 68, 69, 74, 80, 81, 85, 93, 94}    1968
{70, 39, 71, 56, 27, 63}                                                                                                   1944
{43, 44, 22}                                                                                                               1938
{8, 11}                                                                                                                    1938
{65, 40, 72, 48, 49, 55, 91}                                                                                               1932
{36, 6, 7, 73, 12, 77, 78, 47, 79, 18, 83, 84, 86, 58, 92}                                                                 1897
Name: count, dtype: int64

In [30]:
# NaN 값을 가진 행에서 13개의 건물 그룹에 포함되는 건물을 찾음
#nan_rows_in_frequent_groups = rows_with_nan[rows_with_nan['건물번호'].isin([int(i) for group in frequent_building_groups.index for i in eval(group)])]
nan_rows_in_frequent_groups = rows_with_nan[rows_with_nan['building_number'].isin([int(i) for group in frequent_building_groups.index for i in eval(group)])]

nan_rows_in_frequent_groups

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
30161,15_20220806 17,15,20220806 17,35.6,0.0,NaN,NaN,1815.57,Other Buildings,167012.31,167012.31,0,0,0,8,6,17
84418,42_20220703 10,42,20220703 10,29.8,0.0,NaN,66.0,3038.76,Department Store and Outlet,97915.10,72000.00,0,0,0,7,3,10
100738,50_20220703 10,50,20220703 10,29.8,0.0,NaN,66.0,3044.70,Hospital,91967.00,75836.00,3,0,0,7,3,10
105639,52_20220806 15,52,20220806 15,33.4,0.0,NaN,72.0,2260.20,Hospital,91634.21,69227.19,25,0,0,8,6,15
105640,52_20220806 16,52,20220806 16,33.5,0.0,NaN,73.0,2274.30,Hospital,91634.21,69227.19,25,0,0,8,6,16
183161,90_20220806 17,90,20220806 17,35.6,0.0,NaN,NaN,2504.16,Discount Mart,77917.00,35676.00,0,0,0,8,6,17
197439,97_20220806 15,97,20220806 15,33.4,0.0,NaN,72.0,2021.04,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,15
197440,97_20220806 16,97,20220806 16,33.5,0.0,NaN,73.0,1994.58,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,16

In [31]:
# 13개의 건물 그룹에 포함되지 않는 건물들 찾기
all_building_numbers = set(train_df['building_number'].unique())
included_buildings = set([int(i) for group in frequent_building_groups.index for i in eval(group)])
excluded_buildings = all_building_numbers - included_buildings

excluded_buildings

{9, 16, 20, 21, 26, 29, 30, 31, 46, 75, 76, 87, 95, 99, 100}

In [32]:
# 13개의 건물 그룹에 포함되는 건물의 NaN 값을 같은 건물 그룹의 풍속과 습도로 대체하는 함수
def replace_nan_with_group_values(row):
    #if pd.isna(row['풍속(m/s)']) or pd.isna(row['습도(%)']):
    if pd.isna(row['windspeed']) or pd.isna(row['humidity']):
        # 현재 건물 번호와 일치하는 건물 그룹 찾기
        for group in frequent_building_groups.index:
            #if row['건물번호'] in eval(group):
            if row['building_number'] in eval(group):
                # 동일한 월, 일, 시간을 갖는 그룹 내의 다른 건물들의 평균 풍속과 습도 값 찾기
                #group_data = df[(df['건물번호'].isin(eval(group))) & (df['월'] == row['월']) & (df['일'] == row['일']) & (df['시간'] == row['시간'])]
                group_data = train_df[(train_df['building_number'].isin(eval(group))) & 
                            (train_df['month'] == row['month']) & 
                            (train_df['day'] == row['day']) & 
                            (train_df['hour'] == row['hour'])]
                #row['풍속(m/s)'] = group_data['풍속(m/s)'].mean()
                #row['습도(%)'] = group_data['습도(%)'].mean()
                row['windspeed'] = group_data['windspeed'].mean()
                row['humidity'] = group_data['humidity'].mean()
                break
    return row

# NaN 값을 같은 건물 그룹의 풍속과 습도로 대체
replaced_data = nan_rows_in_frequent_groups.apply(replace_nan_with_group_values, axis=1)

replaced_data

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
30161,15_20220806 17,15,20220806 17,35.6,0.0,2.7,54.0,1815.57,Other Buildings,167012.31,167012.31,0,0,0,8,6,17
84418,42_20220703 10,42,20220703 10,29.8,0.0,NaN,66.0,3038.76,Department Store and Outlet,97915.10,72000.00,0,0,0,7,3,10
100738,50_20220703 10,50,20220703 10,29.8,0.0,NaN,66.0,3044.70,Hospital,91967.00,75836.00,3,0,0,7,3,10
105639,52_20220806 15,52,20220806 15,33.4,0.0,NaN,72.0,2260.20,Hospital,91634.21,69227.19,25,0,0,8,6,15
105640,52_20220806 16,52,20220806 16,33.5,0.0,NaN,73.0,2274.30,Hospital,91634.21,69227.19,25,0,0,8,6,16
183161,90_20220806 17,90,20220806 17,35.6,0.0,2.7,54.0,2504.16,Discount Mart,77917.00,35676.00,0,0,0,8,6,17
197439,97_20220806 15,97,20220806 15,33.4,0.0,NaN,72.0,2021.04,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,15
197440,97_20220806 16,97,20220806 16,33.5,0.0,NaN,73.0,1994.58,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,16

In [33]:
# 전체 데이터에 함수를 적용하여 NaN 값을 대체
replaced_full_data = train_df.apply(replace_nan_with_group_values, axis=1)

# 대체 후의 NaN 값을 포함하는 행 확인
remaining_nan_rows = replaced_full_data[replaced_full_data.isnull().any(axis=1)]

remaining_nan_rows

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
16643,9_20220614 11,9,20220614 11,17.6,0.0,NaN,NaN,2330.40,Other Buildings,222882.35,15651.18,0,0,0,6,14,11
32127,16_20220803 15,16,20220803 15,30.4,0.0,NaN,77.0,5062.08,Public,240038.00,95175.00,20,0,0,8,3,15
51640,26_20220627 16,26,20220627 16,27.2,3.1,NaN,93.0,5330.40,University,386466.90,162020.00,26.64,0,0,6,27,16
51921,26_20220709 09,26,20220709 09,26.3,0.0,NaN,84.0,2908.80,University,386466.90,162020.00,26.64,0,0,7,9,9
84418,42_20220703 10,42,20220703 10,29.8,0.0,NaN,66.0,3038.76,Department Store and Outlet,97915.10,72000.00,0,0,0,7,3,10
100738,50_20220703 10,50,20220703 10,29.8,0.0,NaN,66.0,3044.70,Hospital,91967.00,75836.00,3,0,0,7,3,10
105639,52_20220806 15,52,20220806 15,33.4,0.0,NaN,72.0,2260.20,Hospital,91634.21,69227.19,25,0,0,8,6,15
105640,52_20220806 16,52,20220806 16,33.5,0.0,NaN,73.0,2274.30,Hospital,91634.21,69227.19,25,0,0,8,6,16
176477,87_20220714 05,87,20220714 05,21.9,0.0,NaN,NaN,519.66,Discount Mart,65118.00,34007.00,0,0,0,7,14,5
176478,87_20220714 06,87,20220714 06,22.3,0.0,NaN,NaN,632.88,Discount Mart,65118.00,34007.00,0,0,0,7,14,6
176479,87_20220714 07,87,20220714 07,22.8,0.0,NaN,NaN,738.72,Discount Mart,65118.00,34007.00,0,0,0,7,14,7
176480,87_20220714 08,87,20220714 08,23.3,0.0,NaN,NaN,1547.28,Discount Mart,65118.00,34007.00,0,0,0,7,14,8
176481,87_20220714 09,87,20220714 09,23.8,0.0,NaN,NaN,2059.74,Discount Mart,65118.00,34007.00,0,0,0,7,14,9
197439,97_20220806 15,97,20220806 15,33.4,0.0,NaN,72.0,2021.04,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,15
197440,97_20220806 16,97,20220806 16,33.5,0.0,NaN,73.0,1994.58,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,16
202143,100_20220608 15,100,20220608 15,24.9,0.0,NaN,NaN,880.32,Hotel and Resort,57497.84,40035.23,0,0,0,6,8,15
203211,100_20220723 03,100,20220723 03,20.3,0.0,NaN,99.0,338.16,Hotel and Resort,57497.84,40035.23,0,0,0,7,23,3

In [34]:
# 건물번호 15, 90은 51번 건물과 같은 그룹이므로 51번 건물의 값으로 대체
remaining_nan_rows.isnull().sum()

num_date_time            0
building_number          0
date_time                0
temperature              0
rainfall                 0
windspeed               17
humidity                 7
power_consumption        0
building_type            0
total_area               0
cooling_area             0
solar_power_capacity     0
ess_capacity             0
pcs_capacity             0
month                    0
day                      0
hour                     0
dtype: int64

In [35]:
rows_with_nan.isnull().sum()

num_date_time            0
building_number          0
date_time                0
temperature              0
rainfall                 0
windspeed               19
humidity                 9
power_consumption        0
building_type            0
total_area               0
cooling_area             0
solar_power_capacity     0
ess_capacity             0
pcs_capacity             0
month                    0
day                      0
hour                     0
dtype: int64

In [36]:
# NaN값을 바로 위의행과 아래행의 평균값으로 대체
# NaN 값을 위의행과 아래행 합의 평균으로 대체하는 함수
def interpolate_nan_values(data, column):

    nan_indices = data.index[data[column].isna()].tolist()

    for idx in nan_indices:
        prev_val = data[column].iloc[idx-1] if idx > 0 else None
        next_val = data[column].iloc[idx+1] if idx < len(data) - 1 else None

        if prev_val is not None and next_val is not None:
            data.at[idx, column] = (prev_val + next_val) / 2
        elif prev_val is not None:
            data.at[idx, column] = prev_val
        elif next_val is not None:
            data.at[idx, column] = next_val

    return data

# '풍속(m/s)' 및 '습도(%)' 칼럼의 NaN 값을 위의행과 아래행의 평균으로 대체
replaced_full_data = replaced_full_data.copy()
#replaced_full_data = interpolate_nan_values(replaced_full_data, '풍속(m/s)')
#replaced_full_data = interpolate_nan_values(replaced_full_data, '습도(%)')
replaced_full_data = interpolate_nan_values(replaced_full_data, 'windspeed')
replaced_full_data = interpolate_nan_values(replaced_full_data, 'humidity')

# 대체 후의 NaN 값을 포함하는 행 확인
remaining_nan_rows = replaced_full_data[replaced_full_data.isnull().any(axis=1)]

remaining_nan_rows

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
105639,52_20220806 15,52,20220806 15,33.4,0.0,NaN,72.0,2260.20,Hospital,91634.21,69227.19,25,0,0,8,6,15
105640,52_20220806 16,52,20220806 16,33.5,0.0,NaN,73.0,2274.30,Hospital,91634.21,69227.19,25,0,0,8,6,16
176477,87_20220714 05,87,20220714 05,21.9,0.0,NaN,NaN,519.66,Discount Mart,65118.00,34007.00,0,0,0,7,14,5
176478,87_20220714 06,87,20220714 06,22.3,0.0,NaN,NaN,632.88,Discount Mart,65118.00,34007.00,0,0,0,7,14,6
176479,87_20220714 07,87,20220714 07,22.8,0.0,NaN,NaN,738.72,Discount Mart,65118.00,34007.00,0,0,0,7,14,7
176480,87_20220714 08,87,20220714 08,23.3,0.0,NaN,NaN,1547.28,Discount Mart,65118.00,34007.00,0,0,0,7,14,8
176481,87_20220714 09,87,20220714 09,23.8,0.0,NaN,NaN,2059.74,Discount Mart,65118.00,34007.00,0,0,0,7,14,9
197439,97_20220806 15,97,20220806 15,33.4,0.0,NaN,72.0,2021.04,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,15
197440,97_20220806 16,97,20220806 16,33.5,0.0,NaN,73.0,1994.58,Hotel and Resort,55144.67,25880.00,0,0,0,8,6,16

In [37]:
# 52, 87, 97 건물은 각각 NaN값을 보고 판단
#replaced_full_data[(replaced_full_data['건물번호']==52)&(replaced_full_data['월']==8)&(replaced_full_data['일']==6)]
replaced_full_data[(replaced_full_data['building_number']==52)&
(replaced_full_data['month']==8)&(replaced_full_data['day']==6)]

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
105624,52_20220806 00,52,20220806 00,29.4,0.0,0.8,83.0,1719.9,Hospital,91634.21,69227.19,25,0,0,8,6,0
105625,52_20220806 01,52,20220806 01,29.1,0.0,1.4,83.0,1707.0,Hospital,91634.21,69227.19,25,0,0,8,6,1
105626,52_20220806 02,52,20220806 02,29.0,0.0,1.7,82.0,1754.7,Hospital,91634.21,69227.19,25,0,0,8,6,2
105627,52_20220806 03,52,20220806 03,28.5,0.0,2.1,83.0,1742.1,Hospital,91634.21,69227.19,25,0,0,8,6,3
105628,52_20220806 04,52,20220806 04,28.3,0.0,2.6,83.0,1800.9,Hospital,91634.21,69227.19,25,0,0,8,6,4
105629,52_20220806 05,52,20220806 05,28.2,0.0,1.3,86.0,1881.6,Hospital,91634.21,69227.19,25,0,0,8,6,5
105630,52_20220806 06,52,20220806 06,28.1,0.0,1.4,84.0,1916.1,Hospital,91634.21,69227.19,25,0,0,8,6,6
105631,52_20220806 07,52,20220806 07,28.5,0.0,1.8,82.0,1930.8,Hospital,91634.21,69227.19,25,0,0,8,6,7
105632,52_20220806 08,52,20220806 08,30.2,0.0,2.2,79.0,1991.1,Hospital,91634.21,69227.19,25,0,0,8,6,8
105633,52_20220806 09,52,20220806 09,32.3,0.0,1.8,70.0,2111.1,Hospital,91634.21,69227.19,25,0,0,8,6,9
105634,52_20220806 10,52,20220806 10,32.4,0.0,3.6,74.0,2089.8,Hospital,91634.21,69227.19,25,0,0,8,6,10
105635,52_20220806 11,52,20220806 11,32.9,0.0,4.4,74.0,2097.3,Hospital,91634.21,69227.19,25,0,0,8,6,11
105636,52_20220806 12,52,20220806 12,33.0,0.0,4.5,74.0,2155.2,Hospital,91634.21,69227.19,25,0,0,8,6,12
105637,52_20220806 13,52,20220806 13,33.1,0.0,4.9,73.0,2251.5,Hospital,91634.21,69227.19,25,0,0,8,6,13
105638,52_20220806 14,52,20220806 14,33.2,0.0,5.0,74.0,2202.9,Hospital,91634.21,69227.19,25,0,0,8,6,14
105639,52_20220806 15,52,20220806 15,33.4,0.0,NaN,72.0,2260.2,Hospital,91634.21,69227.19,25,0,0,8,6,15
105640,52_20220806 16,52,20220806 16,33.5,0.0,NaN,73.0,2274.3,Hospital,91634.21,69227.19,25,0,0,8,6,16
105641,52_20220806 17,52,20220806 17,32.4,0.0,3.0,77.0,2185.8,Hospital,91634.21,69227.19,25,0,0,8,6,17
105642,52_20220806 18,52,20220806 18,31.9,0.0,3.7,79.0,2186.1,Hospital,91634.21,69227.19,25,0,0,8,6,18
105643,52_20220806 19,52,20220806 19,30.8,0.0,3.4,84.0,1926.0,Hospital,91634.21,69227.19,25,0,0,8,6,19
105644,52_20220806 20,52,20220806 20,30.3,0.0,2.5,86.0,1861.8,Hospital,91634.21,69227.19,25,0,0,8,6,20
105645,52_20220806 21,52,20220806 21,30.0,0.0,1.6,86.0,1760.7,Hospital,91634.21,69227.19,25,0,0,8,6,21
105646,52_20220806 22,52,20220806 22,29.8,0.0,1.2,87.0,1746.0,Hospital,91634.21,69227.19,25,0,0,8,6,22
105647,52_20220806 23,52,20220806 23,29.9,0.0,1.6,87.0,1720.5,Hospital,91634.21,69227.19,25,0,0,8,6,23

In [38]:
#replaced_full_data[(replaced_full_data['건물번호']==97)&(replaced_full_data['월']==8)&(replaced_full_data['일']==6)]
replaced_full_data[(replaced_full_data['building_number']==97)&
(replaced_full_data['month']==8)&(replaced_full_data['day']==6)]

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
197424,97_20220806 00,97,20220806 00,29.4,0.0,0.8,83.0,1130.94,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,0
197425,97_20220806 01,97,20220806 01,29.1,0.0,1.4,83.0,1062.72,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,1
197426,97_20220806 02,97,20220806 02,29.0,0.0,1.7,82.0,1002.42,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,2
197427,97_20220806 03,97,20220806 03,28.5,0.0,2.1,83.0,976.86,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,3
197428,97_20220806 04,97,20220806 04,28.3,0.0,2.6,83.0,965.52,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,4
197429,97_20220806 05,97,20220806 05,28.2,0.0,1.3,86.0,1130.94,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,5
197430,97_20220806 06,97,20220806 06,28.1,0.0,1.4,84.0,1123.92,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,6
197431,97_20220806 07,97,20220806 07,28.5,0.0,1.8,82.0,1221.66,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,7
197432,97_20220806 08,97,20220806 08,30.2,0.0,2.2,79.0,1549.62,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,8
197433,97_20220806 09,97,20220806 09,32.3,0.0,1.8,70.0,1724.76,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,9
197434,97_20220806 10,97,20220806 10,32.4,0.0,3.6,74.0,1614.60,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,10
197435,97_20220806 11,97,20220806 11,32.9,0.0,4.4,74.0,1617.48,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,11
197436,97_20220806 12,97,20220806 12,33.0,0.0,4.5,74.0,1673.64,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,12
197437,97_20220806 13,97,20220806 13,33.1,0.0,4.9,73.0,1906.92,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,13
197438,97_20220806 14,97,20220806 14,33.2,0.0,5.0,74.0,1978.74,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,14
197439,97_20220806 15,97,20220806 15,33.4,0.0,NaN,72.0,2021.04,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,15
197440,97_20220806 16,97,20220806 16,33.5,0.0,NaN,73.0,1994.58,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,16
197441,97_20220806 17,97,20220806 17,32.4,0.0,3.0,77.0,1944.18,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,17
197442,97_20220806 18,97,20220806 18,31.9,0.0,3.7,79.0,1936.80,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,18
197443,97_20220806 19,97,20220806 19,30.8,0.0,3.4,84.0,1901.52,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,19
197444,97_20220806 20,97,20220806 20,30.3,0.0,2.5,86.0,1932.30,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,20
197445,97_20220806 21,97,20220806 21,30.0,0.0,1.6,86.0,1798.20,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,21
197446,97_20220806 22,97,20220806 22,29.8,0.0,1.2,87.0,1428.84,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,22
197447,97_20220806 23,97,20220806 23,29.9,0.0,1.6,87.0,1236.78,Hotel and Resort,55144.67,25880.0,0,0,0,8,6,23

In [39]:
# 건물번호 52번과 97번의 '풍속(m/s)' 칼럼의 NaN 값을 4(위의 행과 아래 행의 평균)로 대체
#replaced_full_data.loc[(replaced_full_data['건물번호'].isin([52, 97])) & (replaced_full_data['풍속(m/s)'].isna()), '풍속(m/s)'] = 4
replaced_full_data.loc[(replaced_full_data['building_number'].isin([52, 97])) & 
(replaced_full_data['windspeed'].isna()), 'windspeed'] = 4

In [40]:
replaced_full_data[replaced_full_data.isnull().any(axis=1)]

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
176477,87_20220714 05,87,20220714 05,21.9,0.0,NaN,NaN,519.66,Discount Mart,65118.0,34007.0,0,0,0,7,14,5
176478,87_20220714 06,87,20220714 06,22.3,0.0,NaN,NaN,632.88,Discount Mart,65118.0,34007.0,0,0,0,7,14,6
176479,87_20220714 07,87,20220714 07,22.8,0.0,NaN,NaN,738.72,Discount Mart,65118.0,34007.0,0,0,0,7,14,7
176480,87_20220714 08,87,20220714 08,23.3,0.0,NaN,NaN,1547.28,Discount Mart,65118.0,34007.0,0,0,0,7,14,8
176481,87_20220714 09,87,20220714 09,23.8,0.0,NaN,NaN,2059.74,Discount Mart,65118.0,34007.0,0,0,0,7,14,9

In [41]:
#replaced_full_data[(replaced_full_data['건물번호']==87)&(replaced_full_data['월']==7)&(replaced_full_data['일']==14)]
replaced_full_data[(replaced_full_data['building_number']==87)&
(replaced_full_data['month']==7)&(replaced_full_data['day']==14)]

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
176472,87_20220714 00,87,20220714 00,23.5,0.5,1.0,100.0,418.14,Discount Mart,65118.0,34007.0,0,0,0,7,14,0
176473,87_20220714 01,87,20220714 01,23.6,0.0,0.1,100.0,411.12,Discount Mart,65118.0,34007.0,0,0,0,7,14,1
176474,87_20220714 02,87,20220714 02,23.6,0.9,1.3,100.0,402.48,Discount Mart,65118.0,34007.0,0,0,0,7,14,2
176475,87_20220714 03,87,20220714 03,22.2,0.3,1.3,100.0,393.48,Discount Mart,65118.0,34007.0,0,0,0,7,14,3
176476,87_20220714 04,87,20220714 04,21.5,0.5,1.4,100.0,438.48,Discount Mart,65118.0,34007.0,0,0,0,7,14,4
176477,87_20220714 05,87,20220714 05,21.9,0.0,NaN,NaN,519.66,Discount Mart,65118.0,34007.0,0,0,0,7,14,5
176478,87_20220714 06,87,20220714 06,22.3,0.0,NaN,NaN,632.88,Discount Mart,65118.0,34007.0,0,0,0,7,14,6
176479,87_20220714 07,87,20220714 07,22.8,0.0,NaN,NaN,738.72,Discount Mart,65118.0,34007.0,0,0,0,7,14,7
176480,87_20220714 08,87,20220714 08,23.3,0.0,NaN,NaN,1547.28,Discount Mart,65118.0,34007.0,0,0,0,7,14,8
176481,87_20220714 09,87,20220714 09,23.8,0.0,NaN,NaN,2059.74,Discount Mart,65118.0,34007.0,0,0,0,7,14,9
176482,87_20220714 10,87,20220714 10,24.2,0.0,1.3,90.0,1966.50,Discount Mart,65118.0,34007.0,0,0,0,7,14,10
176483,87_20220714 11,87,20220714 11,25.4,0.0,1.4,85.0,1974.42,Discount Mart,65118.0,34007.0,0,0,0,7,14,11
176484,87_20220714 12,87,20220714 12,27.0,0.0,0.9,80.0,2000.52,Discount Mart,65118.0,34007.0,0,0,0,7,14,12
176485,87_20220714 13,87,20220714 13,26.6,0.0,1.4,79.0,1937.88,Discount Mart,65118.0,34007.0,0,0,0,7,14,13
176486,87_20220714 14,87,20220714 14,27.6,0.0,0.5,77.0,1942.74,Discount Mart,65118.0,34007.0,0,0,0,7,14,14
176487,87_20220714 15,87,20220714 15,28.1,0.0,1.5,74.0,1923.30,Discount Mart,65118.0,34007.0,0,0,0,7,14,15
176488,87_20220714 16,87,20220714 16,29.1,0.0,2.9,69.0,1910.52,Discount Mart,65118.0,34007.0,0,0,0,7,14,16
176489,87_20220714 17,87,20220714 17,28.7,0.0,3.0,73.0,1876.86,Discount Mart,65118.0,34007.0,0,0,0,7,14,17
176490,87_20220714 18,87,20220714 18,27.7,0.0,2.8,78.0,1942.56,Discount Mart,65118.0,34007.0,0,0,0,7,14,18
176491,87_20220714 19,87,20220714 19,26.1,0.0,2.4,85.0,1856.70,Discount Mart,65118.0,34007.0,0,0,0,7,14,19
176492,87_20220714 20,87,20220714 20,25.0,0.0,1.9,89.0,1768.14,Discount Mart,65118.0,34007.0,0,0,0,7,14,20
176493,87_20220714 21,87,20220714 21,24.3,0.0,2.5,89.0,1002.60,Discount Mart,65118.0,34007.0,0,0,0,7,14,21
176494,87_20220714 22,87,20220714 22,23.7,0.0,1.9,92.0,794.52,Discount Mart,65118.0,34007.0,0,0,0,7,14,22
176495,87_20220714 23,87,20220714 23,23.7,0.0,1.6,92.0,667.44,Discount Mart,65118.0,34007.0,0,0,0,7,14,23

In [42]:
# 건물번호 87번의 NaN값 또한 NaN값들의 직전값과 직후값의 평균값으로 대체
# '풍속(m/s)' 칼럼의 NaN 값을 1.35로, '습도(%)' 칼럼의 NaN 값을 95로 대체
#replaced_full_data.loc[(replaced_full_data['건물번호'] == 87) & (replaced_full_data['풍속(m/s)'].isna()), '풍속(m/s)'] = 1.35
#replaced_full_data.loc[(replaced_full_data['건물번호'] == 87) & (replaced_full_data['습도(%)'].isna()), '습도(%)'] = 95
replaced_full_data.loc[(replaced_full_data['building_number'] == 87) & 
(replaced_full_data['windspeed'].isna()), 'windspeed'] = 1.35
replaced_full_data.loc[(replaced_full_data['building_number'] == 87) & 
(replaced_full_data['humidity'].isna()), 'humidity'] = 95

In [43]:
replaced_full_data.isnull().sum()

num_date_time           0
building_number         0
date_time               0
temperature             0
rainfall                0
windspeed               0
humidity                0
power_consumption       0
building_type           0
total_area              0
cooling_area            0
solar_power_capacity    0
ess_capacity            0
pcs_capacity            0
month                   0
day                     0
hour                    0
dtype: int64

### [건물번호]를 기준으로 replaced_full_data와 building_info 데이터프레임을 합침

In [44]:
merged_data = replaced_full_data
merged_data.head()

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
0,1_20220601 00,1,20220601 00,18.6,0.0,0.9,42.0,1085.28,Other Buildings,110634.0,39570.0,0,0,0,6,1,0
1,1_20220601 01,1,20220601 01,18.0,0.0,1.1,45.0,1047.36,Other Buildings,110634.0,39570.0,0,0,0,6,1,1
2,1_20220601 02,1,20220601 02,17.7,0.0,1.5,45.0,974.88,Other Buildings,110634.0,39570.0,0,0,0,6,1,2
3,1_20220601 03,1,20220601 03,16.7,0.0,1.4,48.0,953.76,Other Buildings,110634.0,39570.0,0,0,0,6,1,3
4,1_20220601 04,1,20220601 04,18.4,0.0,2.8,43.0,986.40,Other Buildings,110634.0,39570.0,0,0,0,6,1,4

### '휴일'column 생성

In [45]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204000 entries, 0 to 203999
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   num_date_time         204000 non-null  object
 1   building_number       204000 non-null  int64
 2   date_time             204000 non-null  object
 3   temperature           204000 non-null  float64
 4   rainfall              204000 non-null  float64
 5   windspeed             204000 non-null  float64
 6   humidity              204000 non-null  float64
 7   power_consumption     204000 non-null  float64
 8   building_type         204000 non-null  object
 9   total_area            204000 non-null  float64
 10  cooling_area          204000 non-null  float64
 11  solar_power_capacity  204000 non-null  object
 12  ess_capacity          204000 non-null  object
 13  pcs_capacity          204000 non-null  object
 14  month                 204000 non-null  int64
 15  day                   204000 non-null  int64
 16  hour                  204000 non-null  int64
dtypes: float64(7), int64(4), object(6)
memory usage: 26.5+ MB

In [46]:
# 시간 데이터의 형식을 올바르게 수정
merged_data['month'] = merged_data['month'].astype(int).astype(str)
merged_data['day'] = merged_data['day'].astype(int).astype(str)
merged_data['hour'] = merged_data['hour'].astype(int).astype(str)

In [47]:
# 'num_date_time' 칼럼을 datetime 형식으로 변환
merged_data['num_date_time'] = pd.to_datetime(merged_data[['month', 'day', 'hour']].astype(str).agg('-'.join, axis=1), format='%m-%d-%H')

In [48]:
merged_data.head()

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
0,1900-06-01 00:00:00,1,20220601 00,18.6,0.0,0.9,42.0,1085.28,Other Buildings,110634.0,39570.0,0,0,0,6,1,0
1,1900-06-01 01:00:00,1,20220601 01,18.0,0.0,1.1,45.0,1047.36,Other Buildings,110634.0,39570.0,0,0,0,6,1,1
2,1900-06-01 02:00:00,1,20220601 02,17.7,0.0,1.5,45.0,974.88,Other Buildings,110634.0,39570.0,0,0,0,6,1,2
3,1900-06-01 03:00:00,1,20220601 03,16.7,0.0,1.4,48.0,953.76,Other Buildings,110634.0,39570.0,0,0,0,6,1,3
4,1900-06-01 04:00:00,1,20220601 04,18.4,0.0,2.8,43.0,986.40,Other Buildings,110634.0,39570.0,0,0,0,6,1,4

In [49]:
# 연도 정보를 2022로 수정
merged_data['num_date_time'] = merged_data['num_date_time'].apply(lambda x: x.replace(year=2022))

In [50]:
# 휴일을 구분하는 함수
# 0 = 영업일, 1 = 휴일
def is_holiday(row):
    if row['month'] == '6' and row['day'] in ['1', '6']:  # 6월 1일, 6월 6일
        return 1
    elif row['month'] == '8' and row['day'] == '15':  # 8월 15일
        return 1
    elif row['num_date_time'].weekday() in [5, 6]:  # 토요일, 일요일
        return 1
    else:
        return 0

In [51]:
# 휴일 칼럼 생성
merged_data['holiday'] = merged_data.apply(is_holiday, axis=1)

In [52]:
merged_data['holiday']

0         1
1         1
2         1
3         1
4         1
         ..
203995    0
203996    0
203997    0
203998    0
203999    0
Name: holiday, Length: 204000, dtype: int64

In [53]:
merged_data[merged_data['holiday'] == 1]

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour,holiday
0,2022-06-01 00:00:00,1,20220601 00,18.6,0.0,0.9,42.0,1085.28,Other Buildings,110634.00,39570.00,0,0,0,6,1,0,1
1,2022-06-01 01:00:00,1,20220601 01,18.0,0.0,1.1,45.0,1047.36,Other Buildings,110634.00,39570.00,0,0,0,6,1,1,1
2,2022-06-01 02:00:00,1,20220601 02,17.7,0.0,1.5,45.0,974.88,Other Buildings,110634.00,39570.00,0,0,0,6,1,2,1
3,2022-06-01 03:00:00,1,20220601 03,16.7,0.0,1.4,48.0,953.76,Other Buildings,110634.00,39570.00,0,0,0,6,1,3,1
4,2022-06-01 04:00:00,1,20220601 04,18.4,0.0,2.8,43.0,986.40,Other Buildings,110634.00,39570.00,0,0,0,6,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203923,2022-08-21 19:00:00,100,20220821 19,27.9,0.0,0.7,78.0,1097.52,Hotel and Resort,57497.84,40035.23,0,0,0,8,21,19,1
203924,2022-08-21 20:00:00,100,20220821 20,26.5,0.0,0.6,85.0,981.12,Hotel and Resort,57497.84,40035.23,0,0,0,8,21,20,1
203925,2022-08-21 21:00:00,100,20220821 21,25.4,0.0,0.3,90.0,924.72,Hotel and Resort,57497.84,40035.23,0,0,0,8,21,21,1
203926,2022-08-21 22:00:00,100,20220821 22,24.9,0.0,0.3,94.0,881.52,Hotel and Resort,57497.84,40035.23,0,0,0,8,21,22,1
203927,2022-08-21 23:00:00,100,20220821 23,24.3,0.0,0.2,97.0,676.56,Hotel and Resort,57497.84,40035.23,0,0,0,8,21,23,1

In [54]:
# 휴일이 1인 행만 선택하여 출력
holidays_data_corrected = merged_data[merged_data['holiday'] == 1]

# '월', '일', '휴일' 칼럼만 선택하고 중복 값을 제거
unique_holidays = holidays_data_corrected[['month', 'day', 'holiday']].drop_duplicates().sort_values(by=['month', 'day'])

unique_holidays

     month day  holiday
0        6   1        1
240      6  11        1
264      6  12        1
408      6  18        1
432      6  19        1
576      6  25        1
600      6  26        1
72       6   4        1
96       6   5        1
120      6   6        1
936      7  10        1
1080     7  16        1
1104     7  17        1
744      7   2        1
1248     7  23        1
1272     7  24        1
768      7   3        1
1416     7  30        1
1440     7  31        1
912      7   9        1
1752     8  13        1
1776     8  14        1
1800     8  15        1
1920     8  20        1
1944     8  21        1
1584     8   6        1
1608     8   7        1

In [55]:
len(unique_holidays)

27

In [56]:
merged_data.drop('num_date_time', axis = 1, inplace=True)

In [57]:
merged_data

,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour,holiday
0,1,20220601 00,18.6,0.0,0.9,42.0,1085.28,Other Buildings,110634.00,39570.00,0,0,0,6,1,0,1
1,1,20220601 01,18.0,0.0,1.1,45.0,1047.36,Other Buildings,110634.00,39570.00,0,0,0,6,1,1,1
2,1,20220601 02,17.7,0.0,1.5,45.0,974.88,Other Buildings,110634.00,39570.00,0,0,0,6,1,2,1
3,1,20220601 03,16.7,0.0,1.4,48.0,953.76,Other Buildings,110634.00,39570.00,0,0,0,6,1,3,1
4,1,20220601 04,18.4,0.0,2.8,43.0,986.40,Other Buildings,110634.00,39570.00,0,0,0,6,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100,20220824 19,23.1,0.0,0.9,86.0,881.04,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,19,0
203996,100,20220824 20,22.4,0.0,1.3,86.0,798.96,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,20,0
203997,100,20220824 21,21.3,0.0,1.0,92.0,825.12,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,21,0
203998,100,20220824 22,21.0,0.0,0.3,94.0,640.08,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,22,0
203999,100,20220824 23,20.7,0.0,0.1,95.0,540.24,Hotel and Resort,57497.84,40035.23,0,0,0,8,24,23,0

In [58]:
merged_data['hour']

0          0
1          1
2          2
3          3
4          4
          ..
203995    19
203996    20
203997    21
203998    22
203999    23
Name: hour, Length: 204000, dtype: object

In [59]:
# 시간은 주기성을 가지므로 숫자 형태가 아닌 주기성이 반영된 sin, cos 함수의 시간 형태 적용
merged_data['sin_time'] = np.sin(2 * np.pi * pd.to_numeric(merged_data['hour']) / 24)
merged_data['cos_time'] = np.cos(2 * np.pi * pd.to_numeric(merged_data['hour']) / 24)

In [60]:
# 불쾌지수 파생변수
#merged_data['불쾌지수'] = 9/5 * merged_data['기온(C)'] - 0.55 * (1-merged_data['습도(%)']/100) * (9/5 * merged_data['기온(C)'] - 26) + 32
merged_data['불쾌지수'] = 9/5 * merged_data['temperature'] - 0.55 * (1-merged_data['humidity']/100) * (9/5 * merged_data['temperature'] - 26) + 32

In [61]:
# 불쾌지수의 구간화 적용
def categorize_di(di):
    if di <= 68:
        return "전원 쾌적" #전원 쾌적
    elif di < 70:
        return "불쾌를 나타냄" #불쾌를 나타냄
    elif di < 75:
        return "10% 정도 불쾌" #10% 정도 불쾌
    elif di < 80:
        return "50% 정도 불쾌" #50% 정도 불쾌
    elif di < 83:
        return "전원 불쾌" #전원 불쾌
    else:
        return "매우 불쾌" #매울 불쾌

In [62]:
merged_data['불쾌정도'] = merged_data['불쾌지수'].apply(categorize_di)

In [63]:
# 습구온도 계산
merged_data['Tw'] = merged_data['temperature'] * np.arctan(0.151977 * (merged_data['humidity'] + 8.313659)**0.5) + \
             np.arctan(merged_data['temperature'] + merged_data['humidity']) - \
             np.arctan(merged_data['humidity'] - 1.67633) + \
             0.00391838 * merged_data['humidity']**1.5 * np.arctan(0.023101 * merged_data['humidity']) - 4.686035

In [64]:
# 체감온도 계산
merged_data['체감온도'] = -0.2442 + 0.55399 * merged_data['Tw'] + 0.45535 * merged_data['temperature'] - 0.0022 * merged_data['Tw']**2 + 0.00278 * merged_data['Tw'] * merged_data['temperature'] + 3.0

In [65]:
merged_data['date_time'] = merged_data['date_time'].astype(object)

In [66]:
merged_data.head()

,building_number,date_time,temperature,rainfall,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,...,month,day,hour,holiday,sin_time,cos_time,불쾌지수,불쾌정도,Tw,체감온도
0,1,20220601 00,18.6,0.0,0.9,42.0,1085.28,Other Buildings,110634.0,39570.0,...,6,1,0,1,0.000000,1.000000,63.09388,전원 쾌적,11.450110,17.872188
1,1,20220601 01,18.0,0.0,1.1,45.0,1047.36,Other Buildings,110634.0,39570.0,...,6,1,1,1,0.258819,0.965926,62.46400,전원 쾌적,11.345214,17.521779
2,1,20220601 02,17.7,0.0,1.5,45.0,974.88,Other Buildings,110634.0,39570.0,...,6,1,2,1,0.500000,0.866025,62.08735,전원 쾌적,11.093936,17.236547
3,1,20220601 03,16.7,0.0,1.4,48.0,953.76,Other Buildings,110634.0,39570.0,...,6,1,3,1,0.707107,0.707107,60.89884,전원 쾌적,10.621270,16.489140
4,1,20220601 04,18.4,0.0,2.8,43.0,986.40,Other Buildings,110634.0,39570.0,...,6,1,4,1,0.866025,0.500000,62.88788,전원 쾌적,11.417893,17.756877

In [67]:
# 요일 생성
def weekday(x):
    return pd.to_datetime(x[:24]).weekday()

# DataFrame 열을 Datatime으로 변환하는 DataFrame.apply 사용
merged_data['weekday']=merged_data['date_time'].apply(lambda x :weekday(x))
#merged_data['weekday']=merged_data['date_time'].apply(lambda x :pd.to_datetime(x[:24]).weekday())

# 각각 동일하게 분포하고 있어 시각화 X
merged_data['weekday'].value_counts()

weekday
2    31200
3    28800
4    28800
5    28800
6    28800
0    28800
1    28800
Name: count, dtype: int64

In [68]:
# 오브젝트 형태에서 날짜형으로 변경
merged_data['date'] = pd.to_datetime(merged_data['date_time'])

# 날짜형에서 포문을 활용해 년도/주차/요일 추출
date_1 = []
for i in merged_data['date']:
  date_1.append(i.isocalendar())

  # isocalendar : date type의 데이터 추출
# 확인
date_1[2]

datetime.IsoCalendarDate(year=2022, week=22, weekday=3)

In [69]:
# 포문을 활용해 주차만 추출하고 1년의 주차를 뽑아주기 때문에 우리에 맞게 -22를 함
date_2 = []
for i in range(len(date_1)):
  date_2.append(date_1[i][1]-22)

# 확인
merged_data['week_number']=date_2

In [70]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204000 entries, 0 to 203999
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   building_number       204000 non-null  int64
 1   date_time             204000 non-null  object
 2   temperature           204000 non-null  float64
 3   rainfall              204000 non-null  float64
 4   windspeed             204000 non-null  float64
 5   humidity              204000 non-null  float64
 6   power_consumption     204000 non-null  float64
 7   building_type         204000 non-null  object
 8   total_area            204000 non-null  float64
 9   cooling_area          204000 non-null  float64
 10  solar_power_capacity  204000 non-null  object
 11  ess_capacity          204000 non-null  object
 12  pcs_capacity          204000 non-null  object
 13  month                 204000 non-null  object
 14  day                   204000 non-null  object
 15  hour                  204000 non-null  object
 16  holiday               204000 non-null  int64
 17  sin_time              204000 non-null  float64
 18  cos_time              204000 non-null  float64
 19  불쾌지수                  204000 non-null  float64
 20  불쾌정도                  204000 non-null  object
 21  Tw                    204000 non-null  float64
 22  체감온도                  204000 non-null  float64
 23  weekday               204000 non-null  int64
 24  date                  204000 non-null  datetime64[ns]
 25  week_number           204000 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(4), object(9)
memory usage: 40.5+ MB

In [71]:
# Cooling Degree Hour 변수 생성
def CDH(xs):
    ys = []
    for i in range(len(xs)):
        if i < 11:
            ys.append(np.sum(xs[:(i+1)]-26))
        else:
            ys.append(np.sum(xs[(i-11):(i+1)]-26))
    return np.array(ys)

cdhs = np.array([])
for num in range(1,101,1):
    temp = merged_data[merged_data['building_number'] == num]
    cdh = CDH(temp['temperature'].values)
    cdhs = np.concatenate([cdhs, cdh])
merged_data['CDH'] = cdhs

In [72]:
merged_data.drop(['date', 'date_time'], axis = 1, inplace=True)

In [73]:
building_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   building_number       100 non-null    int64
 1   building_type         100 non-null    object
 2   total_area            100 non-null    float64
 3   cooling_area          100 non-null    float64
 4   solar_power_capacity  100 non-null    object
 5   ess_capacity          100 non-null    object
 6   pcs_capacity          100 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 5.6+ KB

In [74]:
#상대적으로 값이 큰 연먹적과 냉방면적의 descriptive statistics를 보자
merged_data[['total_area', 'cooling_area']].describe()

         total_area  cooling_area
count  2.040000e+05  2.040000e+05
mean   2.608875e+05  1.864032e+05
std    1.273550e+06  1.085174e+06
min    5.578400e+03  0.000000e+00
25%    6.144612e+04  2.318700e+04
50%    9.264050e+04  5.582336e+04
75%    1.848135e+05  9.915097e+04
max    1.287288e+07  1.094194e+07

In [75]:
merged_data.columns

Index(['building_number', 'temperature', 'rainfall', 'windspeed', 'humidity',
       'power_consumption', 'building_type', 'total_area', 'cooling_area',
       'solar_power_capacity', 'ess_capacity', 'pcs_capacity', 'month', 'day',
       'hour', 'holiday', 'sin_time', 'cos_time', '불쾌지수', '불쾌정도', 'Tw', '체감온도',
       'weekday', 'week_number', 'CDH'],
      dtype='object')

In [76]:
len(merged_data.columns)

25

In [77]:
test_data = test_df
test_data.head()

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity
0,1_20220825 00,1,20220825 00,23.5,0.0,2.2,72,Other Buildings,110634.0,39570.0,0,0,0
1,1_20220825 01,1,20220825 01,23.0,0.0,0.9,72,Other Buildings,110634.0,39570.0,0,0,0
2,1_20220825 02,1,20220825 02,22.7,0.0,1.5,75,Other Buildings,110634.0,39570.0,0,0,0
3,1_20220825 03,1,20220825 03,22.1,0.0,1.3,78,Other Buildings,110634.0,39570.0,0,0,0
4,1_20220825 04,1,20220825 04,21.8,0.0,1.0,77,Other Buildings,110634.0,39570.0,0,0,0

In [78]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16800 entries, 0 to 16799
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   num_date_time         16800 non-null  object
 1   building_number       16800 non-null  int64
 2   date_time             16800 non-null  object
 3   temperature           16800 non-null  float64
 4   rainfall              16800 non-null  float64
 5   windspeed             16800 non-null  float64
 6   humidity              16800 non-null  int64
 7   building_type         16800 non-null  object
 8   total_area            16800 non-null  float64
 9   cooling_area          16800 non-null  float64
 10  solar_power_capacity  16800 non-null  object
 11  ess_capacity          16800 non-null  object
 12  pcs_capacity          16800 non-null  object
dtypes: float64(5), int64(2), object(6)
memory usage: 1.7+ MB

In [79]:
# '일시' 컬럼을 기반으로 '월', '일', '시간' 칼럼 생성
test_data['month'] = test_data['date_time'].str.slice(4, 6).astype(int)
test_data['day'] = test_data['date_time'].str.slice(6, 8).astype(int)
test_data['hour'] = test_data['date_time'].str.slice(9, 11).astype(int)

# 변경된 데이터 확인
test_data.head()

,num_date_time,building_number,date_time,temperature,rainfall,windspeed,humidity,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
0,1_20220825 00,1,20220825 00,23.5,0.0,2.2,72,Other Buildings,110634.0,39570.0,0,0,0,8,25,0
1,1_20220825 01,1,20220825 01,23.0,0.0,0.9,72,Other Buildings,110634.0,39570.0,0,0,0,8,25,1
2,1_20220825 02,1,20220825 02,22.7,0.0,1.5,75,Other Buildings,110634.0,39570.0,0,0,0,8,25,2
3,1_20220825 03,1,20220825 03,22.1,0.0,1.3,78,Other Buildings,110634.0,39570.0,0,0,0,8,25,3
4,1_20220825 04,1,20220825 04,21.8,0.0,1.0,77,Other Buildings,110634.0,39570.0,0,0,0,8,25,4

In [80]:
# 'num_date_time' 컬럼 제거
test_data = test_data.drop(columns='num_date_time')

# 변경된 데이터 확인
test_data.head()

,building_number,date_time,temperature,rainfall,windspeed,humidity,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour
0,1,20220825 00,23.5,0.0,2.2,72,Other Buildings,110634.0,39570.0,0,0,0,8,25,0
1,1,20220825 01,23.0,0.0,0.9,72,Other Buildings,110634.0,39570.0,0,0,0,8,25,1
2,1,20220825 02,22.7,0.0,1.5,75,Other Buildings,110634.0,39570.0,0,0,0,8,25,2
3,1,20220825 03,22.1,0.0,1.3,78,Other Buildings,110634.0,39570.0,0,0,0,8,25,3
4,1,20220825 04,21.8,0.0,1.0,77,Other Buildings,110634.0,39570.0,0,0,0,8,25,4

In [81]:
merged_test_data = test_data

In [82]:
# 'num_date_time' 칼럼을 datetime 형식으로 변환
merged_test_data['num_date_time'] = pd.to_datetime(merged_test_data[['month', 'day', 'hour']].astype(str).agg('-'.join, axis=1), format='%m-%d-%H')

In [83]:
# 연도 정보를 2022로 수정
merged_test_data['num_date_time'] = merged_test_data['num_date_time'].apply(lambda x: x.replace(year=2022))

In [84]:
# 휴일 칼럼 생성
merged_test_data['holiday'] = merged_test_data.apply(is_holiday, axis=1)

In [85]:
merged_test_data.head()

,building_number,date_time,temperature,rainfall,windspeed,humidity,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour,num_date_time,holiday
0,1,20220825 00,23.5,0.0,2.2,72,Other Buildings,110634.0,39570.0,0,0,0,8,25,0,2022-08-25 00:00:00,0
1,1,20220825 01,23.0,0.0,0.9,72,Other Buildings,110634.0,39570.0,0,0,0,8,25,1,2022-08-25 01:00:00,0
2,1,20220825 02,22.7,0.0,1.5,75,Other Buildings,110634.0,39570.0,0,0,0,8,25,2,2022-08-25 02:00:00,0
3,1,20220825 03,22.1,0.0,1.3,78,Other Buildings,110634.0,39570.0,0,0,0,8,25,3,2022-08-25 03:00:00,0
4,1,20220825 04,21.8,0.0,1.0,77,Other Buildings,110634.0,39570.0,0,0,0,8,25,4,2022-08-25 04:00:00,0

In [86]:
merged_test_data[merged_test_data['holiday'] == 1]

,building_number,date_time,temperature,rainfall,windspeed,humidity,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,month,day,hour,num_date_time,holiday
48,1,20220827 00,23.1,0.0,2.2,82,Other Buildings,110634.00,39570.00,0,0,0,8,27,0,2022-08-27 00:00:00,1
49,1,20220827 01,23.2,0.0,2.6,80,Other Buildings,110634.00,39570.00,0,0,0,8,27,1,2022-08-27 01:00:00,1
50,1,20220827 02,21.0,15.6,5.4,88,Other Buildings,110634.00,39570.00,0,0,0,8,27,2,2022-08-27 02:00:00,1
51,1,20220827 03,20.7,2.0,2.7,91,Other Buildings,110634.00,39570.00,0,0,0,8,27,3,2022-08-27 03:00:00,1
52,1,20220827 04,19.4,0.0,3.2,85,Other Buildings,110634.00,39570.00,0,0,0,8,27,4,2022-08-27 04:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16723,100,20220828 19,22.7,0.0,0.0,65,Hotel and Resort,57497.84,40035.23,0,0,0,8,28,19,2022-08-28 19:00:00,1
16724,100,20220828 20,21.9,0.0,0.3,74,Hotel and Resort,57497.84,40035.23,0,0,0,8,28,20,2022-08-28 20:00:00,1
16725,100,20220828 21,20.3,0.0,0.0,84,Hotel and Resort,57497.84,40035.23,0,0,0,8,28,21,2022-08-28 21:00:00,1
16726,100,20220828 22,20.6,0.0,0.1,83,Hotel and Resort,57497.84,40035.23,0,0,0,8,28,22,2022-08-28 22:00:00,1
16727,100,20220828 23,20.1,0.0,0.0,84,Hotel and Resort,57497.84,40035.23,0,0,0,8,28,23,2022-08-28 23:00:00,1

In [87]:
# 휴일이 1인 행만 선택하여 출력
holidays_data_corrected = merged_test_data[merged_test_data['holiday'] == 1]

# '월', '일', '휴일' 칼럼만 선택하고 중복 값을 제거
unique_holidays = holidays_data_corrected[['month', 'day', 'holiday']].drop_duplicates().sort_values(by=['month', 'day'])

unique_holidays

    month  day  holiday
48      8   27        1
72      8   28        1

In [88]:
merged_test_data.drop('num_date_time', axis = 1, inplace=True)

In [89]:
merged_test_data['sin_time'] = np.sin(2 * np.pi * pd.to_numeric(merged_test_data['hour']) / 24)
merged_test_data['cos_time'] = np.cos(2 * np.pi * pd.to_numeric(merged_test_data['hour']) / 24)

In [90]:
# 불쾌지수 파생변수
merged_test_data['불쾌지수'] = 9/5 * merged_test_data['temperature'] - 0.55 * (1-merged_test_data['humidity']/100) * (9/5 * merged_test_data['temperature'] - 26) + 32

In [91]:
merged_test_data['불쾌정도'] = merged_test_data['불쾌지수'].apply(categorize_di)

In [92]:
merged_test_data['Tw'] = merged_test_data['temperature'] * np.arctan(0.151977 * (merged_test_data['humidity'] + 8.313659)**0.5) + \
             np.arctan(merged_test_data['temperature'] + merged_test_data['humidity']) - \
             np.arctan(merged_test_data['humidity'] - 1.67633) + \
             0.00391838 * merged_test_data['humidity']**1.5 * np.arctan(0.023101 * merged_test_data['humidity']) - 4.686035

In [93]:
merged_test_data['체감온도'] = -0.2442 + 0.55399 * merged_test_data['Tw'] + 0.45535 * merged_test_data['temperature'] - 0.0022 * merged_test_data['Tw']**2 + 0.00278 * merged_test_data['Tw'] * merged_test_data['temperature'] + 3.0

In [94]:
merged_test_data['weekday']=merged_test_data['date_time'].apply(lambda x :weekday(x))

In [95]:
# 오브젝트 형태에서 날짜형으로 변경
merged_test_data['date'] = pd.to_datetime(merged_test_data['date_time'])

# 날짜형에서 포문을 활용해 년도/주차/요일 추출
date_1 = []
for i in merged_test_data['date']:
  date_1.append(i.isocalendar())

In [96]:
# 포문을 활용해 주차만 추출하고 1년의 주차를 뽑아주기 때문에 우리에 맞게 -22를 함
date_2 = []
for i in range(len(date_1)):
  date_2.append(date_1[i][1]-22)

# 확인
merged_test_data['week_number']=date_2

In [97]:
cdhs = np.array([])
for num in range(1,101,1):
    temp = merged_test_data[merged_test_data['building_number'] == num]
    cdh = CDH(temp['temperature'].values)
    cdhs = np.concatenate([cdhs, cdh])
merged_test_data['CDH'] = cdhs

In [98]:
merged_test_data.drop(['date', 'date_time'], axis = 1, inplace=True)

In [99]:
merged_test_data.columns

Index(['building_number', 'temperature', 'rainfall', 'windspeed', 'humidity',
       'building_type', 'total_area', 'cooling_area', 'solar_power_capacity',
       'ess_capacity', 'pcs_capacity', 'month', 'day', 'hour', 'holiday',
       'sin_time', 'cos_time', '불쾌지수', '불쾌정도', 'Tw', '체감온도', 'weekday',
       'week_number', 'CDH'],
      dtype='object')

In [100]:
len(merged_test_data.columns)

24

In [101]:
df = merged_data.copy()

In [102]:
test = merged_test_data.copy()

In [103]:
encoder = LabelEncoder()
col = ['불쾌정도', 'building_type']

for i in col:

    encoder.fit(df[i])
    encoder.fit(test[i])

    df[i] = encoder.transform(df[i])
    test[i] = encoder.transform(test[i])

In [104]:
#! pip install pycaret

In [105]:
! pip install mlflow --quiet

In [106]:
from pycaret.regression import *
from sklearn.model_selection import train_test_split
import category_encoders
from mlflow import log_metric, log_param, log_artifacts

In [111]:
reg = setup(data=df,
            target='power_consumption',
            use_gpu=False,
            session_id=1234,
            max_encoding_ohe=1,
            encoding_method=category_encoders.target_encoder.TargetEncoder(smoothing=10),
            log_experiment = True,
            memory = False,
            fold = 5)

NameError: name 'setup' is not defined

In [109]:
get_metrics() # 사용될 평가지표 확인

NameError: name 'get_metrics' is not defined

In [110]:
# 기본 metric에는 Smape가 없으므로 Smape 함수를 만들어서 추가함.
def smape(a, f):
    return 1/len(a) * np.sum(np.abs(f-a) / (np.abs(a) + np.abs(f))*100)

add_metric('smape', 'Smape', smape, greater_is_better=True)

NameError: name 'add_metric' is not defined

In [ ]:
# 모델 테스트 진행
best = compare_models(n_select=4)

In [ ]:
train_x = df.drop(['power_consumption'],axis=1)
train_y = df['power_consumption)']

X_train, X_test, y_train, y_test = train_test_split(train_x, train_y, test_size=0.2,random_state = 0)

In [ ]:
# 파이캐럿에서 성능이 가장 좋은 모델 기본 테스트 진행
from sklearn.ensemble import ExtraTreesRegressor
et = ExtraTreesRegressor(random_state = 42, n_jobs=-1)

evals = [(X_test, y_test)]

et.fit(X_train, y_train).score(X_test, y_test)

y_pred = et.predict(X_test)

In [ ]:
smape(y_test, y_pred)

In [ ]:
importances = et.feature_importances_

# argsort : 리스트 인덱스의 정렬됐을 때의 인덱스 값 반환, [::-1] : 뒤집기
indices = np.argsort(importances)[::-1]

for i in range(X_train.shape[1]):
	print(X_train.columns[indices[i]], importances[indices[i]])

In [ ]:
merged_data.info()

## Regression Model Fit

In [ ]:
! pip install xgboost

In [ ]:
#train_df['building_type'] = train_df['building_type'].astype(int)
train_df['solar_power_capacity'] = train_df['solar_power_capacity'].astype(float)
train_df['ess_capacity'] = train_df['ess_capacity'].astype(float)
train_df['pcs_capacity'] = train_df['pcs_capacity'].astype(float)

In [ ]:
test_df['solar_power_capacity'] = test_df['solar_power_capacity'].astype(float)
test_df['ess_capacity'] = test_df['ess_capacity'].astype(float)
test_df['pcs_capacity'] = test_df['pcs_capacity'].astype(float)

In [ ]:
#train_x = train_df.drop(columns=['num_date_time', '일시', '일조(hr)', '일사(MJ/m2)', '전력소비량(kWh)'])
#train_y = train_df['전력소비량(kWh)']
train_x = train_df.drop(columns=['num_date_time', 'date_time', 
                                 'sunshine', 'solar_radiation', 
                                 'power_consumption', 'building_type'])
train_y = train_df['power_consumption']

test_df.drop('num_date_time', axis = 1, inplace=True)
test_df.drop('date_time', axis = 1, inplace=True)
test_df.drop('building_type', axis = 1, inplace=True)

In [ ]:
#from xgboost import XGBClassifier
from xgboost import XGBRegressor
model = XGBRegressor()
model.fit(train_x, train_y, eval_metric='rmse')

## Test Data Pre-Processing

In [ ]:
test_x = test_df

## Inference

In [ ]:
preds = model.predict(test_x)

## Submission

In [ ]:
submission = pd.read_csv('./sample_submission.csv')
submission

In [ ]:
submission['answer'] = preds
submission

In [ ]:
submission.to_csv('./xgboost_v_1_3_submission.csv', index=False)