In [2]:
import seaborn as sns
import pandas as pd

In [3]:
resource_dir = "predict-energy-behavior-of-prosumers"

In [7]:
train = pd.read_csv(resource_dir + "/" + "train.csv")
gas_prices = pd.read_csv(resource_dir + "/" + "gas_prices.csv") #천연 가스
client = pd.read_csv(resource_dir + "/" + "client.csv")
electricity_prices = pd.read_csv(resource_dir + "/" + "electricity_prices.csv") # 전기 가격
forecast_weather = pd.read_csv(resource_dir + "/" + "forecast_weather.csv") #일기 예보
historical_weather = pd.read_csv(resource_dir + "/" + "historical_weather.csv") # 과거 날씨

In [9]:
train.describe(include='all')

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id
count,2.018352e+06,2.018352e+06,2.018352e+06,2.017824e+06,2018352.0,2018352,2.018352e+06,2.018352e+06,2.018352e+06
unique,NaN,NaN,NaN,NaN,NaN,15312,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,2022-11-27 12:00:00,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,138,NaN,NaN,NaN
mean,7.297034e+00,5.368261e-01,1.898927e+00,2.748556e+02,0.5,NaN,3.218746e+02,1.009176e+06,3.304538e+01
std,4.780990e+00,4.986421e-01,1.081766e+00,9.095024e+02,0.5,NaN,1.826343e+02,5.826482e+05,1.959059e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.000000e+00,0.000000e+00,1.000000e+00,3.780000e-01,0.0,NaN,1.660000e+02,5.045878e+05,1.600000e+01
50%,7.000000e+00,1.000000e+00,2.000000e+00,3.113300e+01,0.5,NaN,3.230000e+02,1.009176e+06,3.300000e+01
75%,1.100000e+01,1.000000e+00,3.000000e+00,1.802062e+02,1.0,NaN,4.790000e+02,1.513763e+06,5.000000e+01
max,1.500000e+01,1.000000e+00,3.000000e+00,1.548027e+04,1.0,NaN,6.370000e+02,2.018351e+06,6.800000e+01

In [10]:
gas_prices.describe(include='all')

,forecast_date,lowest_price_per_mwh,highest_price_per_mwh,origin_date,data_block_id
count,637,637.000000,637.000000,637,637.000000
unique,637,NaN,NaN,637,NaN
top,2021-09-01,NaN,NaN,2021-08-31,NaN
freq,1,NaN,NaN,1,NaN
mean,NaN,95.036750,107.754631,NaN,319.000000
std,NaN,47.552295,54.743666,NaN,184.030342
min,NaN,28.100000,34.000000,NaN,1.000000
25%,NaN,60.000000,67.530000,NaN,160.000000
50%,NaN,85.210000,93.470000,NaN,319.000000
75%,NaN,109.000000,130.740000,NaN,478.000000
max,NaN,250.000000,305.000000,NaN,637.000000

In [11]:
client.describe(include='all')

,product_type,county,eic_count,installed_capacity,is_business,date,data_block_id
count,41919.000000,41919.000000,41919.000000,41919.000000,41919.000000,41919,41919.000000
unique,NaN,NaN,NaN,NaN,NaN,636,NaN
top,NaN,NaN,NaN,NaN,NaN,2022-11-26,NaN
freq,NaN,NaN,NaN,NaN,NaN,69,NaN
mean,1.898996,7.297097,73.345118,1450.771451,0.536773,NaN,322.898876
std,1.081713,4.780750,144.064389,2422.233120,0.498652,NaN,182.075724
min,0.000000,0.000000,5.000000,5.500000,0.000000,NaN,2.000000
25%,1.000000,3.000000,13.000000,321.900000,0.000000,NaN,167.000000
50%,2.000000,7.000000,32.000000,645.200000,1.000000,NaN,324.000000
75%,3.000000,11.000000,70.000000,1567.150000,1.000000,NaN,480.000000
max,3.000000,15.000000,1517.000000,19314.310000,1.000000,NaN,637.000000

In [12]:
electricity_prices.describe(include='all')

              forecast_date  euros_per_mwh          origin_date  data_block_id
count                 15286   15286.000000                15286   15286.000000
unique                15286            NaN                15286            NaN
top     2021-09-01 00:00:00            NaN  2021-08-31 00:00:00            NaN
freq                      1            NaN                    1            NaN
mean                    NaN     157.064176                  NaN     318.990710
std                     NaN     121.148625                  NaN     183.890301
min                     NaN     -10.060000                  NaN       1.000000
25%                     NaN      85.290000                  NaN     160.000000
50%                     NaN     128.280000                  NaN     319.000000
75%                     NaN     199.797500                  NaN     478.000000
max                     NaN    4000.000000                  NaN     637.000000

In [13]:
forecast_weather.describe(include='all')

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
count,3.424512e+06,3.424512e+06,3424512,3.424512e+06,3.424512e+06,3.424512e+06,3.424512e+06,3.424512e+06,3.424512e+06,3.424512e+06,3.424512e+06,3.424512e+06,3.424512e+06,3424512,3.424512e+06,3.424510e+06,3.424512e+06,3.424512e+06
unique,NaN,NaN,637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15310,NaN,NaN,NaN,NaN
top,NaN,NaN,2021-09-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-30 03:00:00,NaN,NaN,NaN,NaN
freq,NaN,NaN,5376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,448,NaN,NaN,NaN,NaN
mean,5.865000e+01,2.495000e+01,NaN,2.450000e+01,5.743913e+00,2.411946e+00,3.946654e-01,4.346453e-01,3.590693e-01,6.819927e-01,1.255446e+00,7.250110e-01,3.190000e+02,NaN,1.511882e+02,1.107642e+02,2.533923e-05,7.863859e-05
std,6.873865e-01,2.015565e+00,NaN,1.385340e+01,7.844206e+00,7.121432e+00,4.440425e-01,4.386346e-01,4.201556e-01,4.009629e-01,3.995300e+00,4.223752e+00,1.838859e+02,NaN,2.565069e+02,1.874444e+02,1.222840e-04,2.780880e-04
min,5.760000e+01,2.170000e+01,NaN,1.000000e+00,-2.749940e+01,-2.968357e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.757718e+01,-2.211612e+01,1.000000e+00,NaN,-7.733333e-01,-3.258333e-01,-3.814697e-06,-1.529098e-05
25%,5.812500e+01,2.320000e+01,NaN,1.275000e+01,2.606445e-01,-2.364355e+00,0.000000e+00,3.356934e-04,0.000000e+00,2.648926e-01,-1.466691e+00,-1.978108e+00,1.600000e+02,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.865000e+01,2.495000e+01,NaN,2.450000e+01,4.872705e+00,1.835596e+00,8.866882e-02,2.305453e-01,1.011963e-01,9.772670e-01,1.468681e+00,9.433203e-01,3.190000e+02,NaN,0.000000e+00,6.044444e-01,0.000000e+00,0.000000e+00
75%,5.917500e+01,2.670000e+01,NaN,3.625000e+01,1.114639e+01,7.302026e+00,9.784851e-01,9.994587e-01,9.000854e-01,1.000000e+00,3.813533e+00,3.507629e+00,4.780000e+02,NaN,2.128447e+02,1.441723e+02,0.000000e+00,2.765656e-05
max,5.970000e+01,2.820000e+01,NaN,4.800000e+01,3.181069e+01,2.368057e+01,1.000008e+00,1.000008e+00,1.000008e+00,1.000008e+00,2.257320e+01,1.931437e+01,6.370000e+02,NaN,9.544222e+02,8.487144e+02,4.832983e-03,1.651621e-02

In [14]:
historical_weather.describe(include='all')

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id
count,1710802,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06,1.710802e+06
unique,15275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-11-12 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,5.740968e+00,2.240312e+00,4.962012e-02,1.604896e-02,1.009282e+03,6.091270e+01,4.668593e+01,3.440698e+01,3.605141e+01,4.849871e+00,1.978694e+02,1.064905e+02,6.445292e+01,4.203759e+01,5.865000e+01,2.495000e+01,3.192708e+02
std,NaN,8.025647e+00,7.224357e+00,2.079113e-01,7.462936e-02,1.308891e+01,3.776905e+01,4.074760e+01,3.832769e+01,4.135852e+01,2.475450e+00,8.993798e+01,1.799449e+02,1.334100e+02,6.195225e+01,6.873871e-01,2.015564e+00,1.837298e+02
min,NaN,-2.370000e+01,-2.590000e+01,0.000000e+00,0.000000e+00,9.429000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.760000e+01,2.170000e+01,1.000000e+00
25%,NaN,0.000000e+00,-2.600000e+00,0.000000e+00,0.000000e+00,1.001500e+03,2.500000e+01,3.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,1.390000e+02,0.000000e+00,0.000000e+00,0.000000e+00,5.790000e+01,2.320000e+01,1.600000e+02
50%,NaN,5.100000e+00,1.700000e+00,0.000000e+00,0.000000e+00,1.010400e+03,7.200000e+01,3.900000e+01,1.600000e+01,1.000000e+01,4.500000e+00,2.080000e+02,1.000000e+00,0.000000e+00,1.000000e+00,5.850000e+01,2.470000e+01,3.190000e+02
75%,NaN,1.120000e+01,7.200000e+00,0.000000e+00,0.000000e+00,1.018000e+03,1.000000e+02,9.400000e+01,7.200000e+01,8.500000e+01,6.277778e+00,2.630000e+02,1.400000e+02,4.700000e+01,7.400000e+01,5.910000e+01,2.670000e+01,4.780000e+02
max,NaN,3.260000e+01,2.380000e+01,1.680000e+01,2.660000e+00,1.049300e+03,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,2.175000e+01,3.600000e+02,8.490000e+02,7.540000e+02,3.880000e+02,5.970000e+01,2.820000e+01,6.370000e+02